{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<head>
    <h1>SNS login :: Google</h1>
    <script>
        function login() {
            fm = document.getElementById('fm');
            alert(fm.login_check.value);
            //alert(fm.mem_pass.value);
            fm.action = "/daeun_app/prod_list/"
            fm.submit();
        }
    </script>
</head>
<body>
    <!-- sns 로그인이 되어 있는지 확인  -->
    {% if user.is_authenticated %}
        
        {{ user.username }} 님의 로그인 중...
        <br>
        <hr>
        <form action="#" id ="fm" name = "fm" method = "post">
            {% csrf_token %}
            <button><a href="/accounts/logout/">로그아웃</a></button>
            <button name="login_check" onclick="login();" value="login">상품정보보기</button>
        </form>
    <!-- sns 로그인이 되어 있지 않으면  -->  
    {% else %}
        <a href="{% provider_login_url 'google' %}" 
        class="gtn btn-google btn-user btn-block">
            구글 계정으로 로그인하기 
        </a>
    {% endif %}
</body>